#!/usr/bin/make -f

#upstream recommends NDEBUG for release builds!
export CPPFLAGS += -DNDEBUG

%:
	dh $@ --parallel

override_dh_auto_install: export DESTDIR=$(shell pwd)/debian/safir-sdk-core
override_dh_auto_install:
	cd obj-$(DEB_BUILD_MULTIARCH) && /usr/bin/cmake -DCOMPONENT=Runtime -P cmake_install.cmake
